<%- include('partials/header.ejs') %>

<div class="jumbotron">
    <h1 class="display-4"> Get in touch</h1>
    <p class="lead">We'd love to hear from you</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

<div class="container">

</div>

<%- include('partials/footer.ejs') %>